body {
  background-color: #282c34;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  width: 25vw;
  height: 15vh;
}

.login-container {
  display: flex;
  flex-direction: column;

  width: 40vw;

  position: absolute;
  top: 70vh;
  left: 30vw;

}

.login-container input {
  margin: 2vh 0;
}

